<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.myapplication.icompus"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.administrator.myapplication.icompus.ui.MainActivity" />
        <activity android:name="com.example.administrator.myapplication.icompus.ui.study.NoteActivity" />
        <activity
            android:name="com.example.administrator.myapplication.icompus.ui.study.NoteEditActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.example.administrator.myapplication.icompus.ui.study.BookActivity" />
        <activity android:name="com.example.administrator.myapplication.icompus.ui.study.BookLookActivity" />
        <activity android:name="com.example.administrator.myapplication.icompus.ui.life.TimeLogActivity" />
        <activity android:name="com.example.administrator.myapplication.icompus.ui.life.TimeLogEditActivity" />
        <activity android:name="com.example.administrator.myapplication.icompus.ui.life.BlogActivity" />
        <activity android:name="com.example.administrator.myapplication.icompus.ui.life.BlogDetailActivity" />
        <activity android:name=".ui.study.HomeWork"></activity>
        <activity android:name=".ui.study.ClassEdit"></activity>

            <receiver android:name=".MyReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.PHONE_STATE">
                    </action>
                </intent-filter>
            </receiver>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>